* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(14, 14, 14);
    color: white;
    font-family: Nunito;
}
.titulo { 
    text-align: center;
}
.banner-top {
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 80px;
    padding-top: 30px;
    background-color: rgb(78, 78, 78);
    text-align: center;
    box-shadow: 0px 0px 10px white;
}

.yo {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 110px;
    height: 110px;
    margin-bottom: 50px;
}

.nombre {
    margin-top: 70px;
    text-align: center;
    margin-bottom: 45px;
}

.introduccion {
    background-color: rgba(255, 255, 255, 0.151);
    width: 20%;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    padding: 1%;
    border-radius: 5%;
}

.preview {
    width: 300px;
    height: 270px;
}

.proyectos {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    align-items: center;    
    justify-content: center ;
}

.proyectos .proyecto:nth-child(3) .preview {
    width: 250px;
    height: 270px;
}


.proyecto {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 1%;
    border: solid white 2px;
    text-align: center;

    transition: transform 0.9s ease;

}

.proyecto:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 30px rgb(230, 165, 67);
}

.link {
    text-decoration: none;
    color: white;
}

.footer {
    text-align: center;
    justify-content: center;
    height: 170px;
    background-color:rgb(78, 78, 78);
    box-shadow: 0px 0px 10px white;
    padding: 20px;
}

main {
    height: 100%;
    margin-bottom: 100px;
}
.contacto {
    text-align: center;
    padding: 15px;
    width: auto;
    height: auto;
    margin-top: 30px;
}
.lista_contactos {
    list-style: none;   
    display: flex;
    justify-content: center;  
    gap: 10px;  
    margin-top: 10px;
}

.img_contacto {
    width: 30px;
}
.link {
    text-decoration: none;
}

.redes-lista {
    list-style: none;
    list-style: none;   
    display: flex;
    justify-content: center;  
    gap: 10px;  
    margin-top: 10px;
}
.contacto h2 {
    font-size: 20px;
}



.redes {
    text-align: center;
    padding: 15px;
    width: auto;
    height: auto;
    margin-top: 30px;
}

.columna-segunda {
    width: 20%;
}
.columna-tercera {
    text-align: center;
    

}
.columna-cuarta {
    width: 20%;
}

.footer_contenido{
    display: flex;
    justify-content: center;
}






@media (max-width: 1170px) {
    .nombre {
        font-size: 20px;
    }

    .introduccion {
        padding: 3%;
        width: 80%;

    }

    .proyectos {
        gap: 30px;
        flex-direction: column;
    }

    .contacto {
    text-align: left;

    }



.footer {

    justify-content: initial;
}



}